*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #000000;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 4.0rem;
}
header h1{
    font-size: 2.9rem;
}
header ul{
    display: flex;
    gap: 2.3rem;
}
header ul li{
    list-style: none;
    font-size: 2.1rem;
    cursor: pointer;
}
#content{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
    margin: auto;
    width: 70%;
    background-color: white;
    height: 59.2rem;
}
#content div{
    font-size: 5.2rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}